

<nb-layout-header fixed>
    <input type="text" nbInput fullWidth shape="round" placeholder="Search.." [(ngModel)]="search" >
</nb-layout-header>

<nb-card class="main-card">
   <nb-card-body>
    <h4 class="font-family-secondary">Grid View</h4>

        <div  *ngFor="let project of showProject | filter: search; let _i = index;">

            <div class="card-row" *ngIf="(_i % 3) == 0">
                
                <div class="card-row" *ngIf="(_i % 3) !== 0">
                
                    <div class="card-col">
                        
                    </div>
                    
                </div>
                
            </div>
                <nb-card >
                    <nb-card-body>
                        <h6>{{project.id}} - {{project.title}}</h6>
                    </nb-card-body>
                </nb-card>
            
            
          
        </div>

    
   </nb-card-body>
</nb-card>

